<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planning Poker - Jeu</title>
  </head>
  <body>
    <h1>Tour de jeu pour {{ current_joueur.nom }}</h1>
    <h3>Fonctionnalité: {{ current_fonctionnalite.titre }}</h3>

    <!-- Carte de vote -->
    <div>
      <form action="{% url 'voter' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="button_value" value="1">1</button>
        <button type="submit" name="button_value" value="2">2</button>
        <button type="submit" name="button_value" value="3">3</button>
        <button type="submit" name="button_value" value="5">5</button>
      </form>
    </div>

    <h2>
      Votes en cours pour la fonctionnalité {{ current_fonctionnalite.titre }}
    </h2>
    <ul>
      {% for vote in les_votes %}
      <li>{{ vote.joueur.nom }} a voté : {{ vote.valeur }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
